# Development MongoDB (Local)
MONGODB_URI=


# Server Configuration
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=
AGENT_URL='http://localhost:8000'

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=
# === Production Configuration ===
# To be used when NODE_ENV=production
GMAIL_USER=
GMAIL_APP_PASSWORD=

# MONGODB_URI=
# JWT_SECRET=your_production_jwt_secret_key
# CORS_ORIGIN=https://your-production-frontend.com
